/* #root{
  background-image: url("./app/assets/img/bg.jpg");
} */
.home-cover{
  background-color: rgba(255, 255, 255, 0.9);
}
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #F44336; 
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
background: #F44336; 
}
.headerTop{
  border-top: 2px solid #F44336;
  border-bottom: 2px solid #F44336;
}
.headerTop a{
  color: #F44336;
  font-weight: 500;
  text-transform: uppercase;
}
.headerTop a:hover{
  color: #ffffff;
  background: #F44336;
  text-transform: uppercase;
  transition: background-color ease-in 0.1s; 
}

/* Let's get this party started */
.newsbar::-webkit-scrollbar {
  width: 6px;
}

/* Track */
.newsbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
.newsbar::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #F44336; 
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
.newsbar::-webkit-scrollbar-thumb:window-inactive {
background: #F44336; 
}

.newsbar{
  height: 600px; 
  overflow-y: scroll;
}

.fileContainer {
  overflow: hidden;
  position: relative;
}

.logo{
  height: 60px;
  width: auto;
}

.navbar{
  background-color: #B71C1C !important;
}

.jumbotron{
  background-image: url("./app/assets/img/bg.jpg");
  height: 70vh;
}
