::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #F44336; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
  }
  ::-webkit-scrollbar-thumb:window-inactive {
  background: #F44336; 
  }
  ::-webkit-scrollbar {
    width: 0.2em;
}
  .self{
    background: #A50000;
    color: #ffffff;
  }

  .news a{
    color: #A50000;
  }
  label{
    color: white;
  }